---
layout: main
permalink: /portfolio
---

<div>
    <h3>Portfolio</h3>

    <div>
        {% for project in site.data.projects %}
        <div>
            <a href="{{ project.url }}"><h2>{{ project.title }}</h2></a>
            <p>{{ project.subtitle }}</p>
            {% if project.thumbnail != null %}
            <img
                src="{{ site.baseUrl }}{{ project.thumbnail }}"
                alt="{{ project.title }}"
            />
            {% endif %}
            <p>{{ project.stack }}</p>
            <p>{{ project.description }}</p>
            <p>{{ project.myRole }}</p>
            <p>{{ project.achievements }}</p>
        </div>
    </div>
    {% endfor %}
</div>
