---
layout: main
title: Portfolio
permalink: /portfolio
---

<div>
    <hgroup>
        <h1>Portfolio</h1>
        <small>Things you can go and look at. The reasoning behind them is on the <a href="{{ site.baseurl }}{% link work.html %}">work</a> page.</small>
    </hgroup>

    {% for project in site.data.projects %}
        {% assign host = project.url | split: "//" | last | split: "/" | first %}
        <div class="item">
            <h3>{{ project.title }}</h3>
            {% if project.subtitle and project.subtitle != "" %}
                <p class="item-lede">{{ project.subtitle }}</p>
            {% endif %}
            <div class="project-body">
                {% if project.thumbnail %}
                    <img src="{{ site.baseurl }}{{ project.thumbnail }}" alt="{{ project.title }}" />
                {% endif %}
                <div class="project-text">
                    <p>{{ project.description }}</p>
                    {% if project.stack %}
                        <ul class="tags">
                            {% assign techs = project.stack | split: "," %}
                            {% for tech in techs %}<li>{{ tech | strip }}</li>{% endfor %}
                        </ul>
                    {% endif %}
                    {% if project.url and project.url != "" %}
                        <p class="item-link">
                            <a href="{{ project.url }}" target="_blank" rel="nofollow noopener noreferrer">{{ host }} &#8599;</a>
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
