<nav>
    <ul>
        <li>
            <a href="/" class="contrast"><strong>GA</strong></a>
        </li>
    </ul>
    <ul>
        <li>
            <a href="{{ site.baseUrl }}{% link about.html %}" {% if page.url == '/about' %}aria-current="page"{% endif %}>
                About
            </a>
        </li>
        <li>
            <a href="{{ site.baseUrl }}{% link portfolio.html %}" {% if page.url == '/portfolio' %}aria-current="page"{% endif %}>
                Portfolio
            </a>
        </li>
    </ul>
</nav>
