* {
  font-family: "Outfit", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: #071921;
  color: rgb(255, 255, 255);
}

ul.navbar {
  list-style: none;
  padding-left: 0;
  align-self: center;
}

ul.navbar li {
  float: left;
}

ul.navbar li {
  margin-right: 10px;
}

ul.navbar li:last-child {
  margin-right: 0;
}

ul.navbar li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1.25em;
  text-transform: lowercase;
}

ul.navbar li a:hover {
  color: rgba(255, 255, 255, 0.9);
}

div.container {
  height: 100%;
  display: flex;
}

div.align-center {
  align-items: center;
}

div.justify-center {
  justify-content: center;
}

div.column {
  display: flex;
  flex: 1;
  flex-direction: column;
}

div.container h1.landing {
  font-size: 3em;
  text-align: center;
}

div.container p {
  text-align: center;
  /* margin-top: 150px; */
  align-self: center;
}
