* {
    font-family: "Outfit", sans-serif;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

.landing-container {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.portfolio-project-content {
    margin-top: 10px;
    overflow: hidden;
}

.portfolio-project-content img {
    float: left;
    max-width: 200px;
    margin: 10px 10px 10px 0;
}

.portfolio-project-content p {
    text-align: justify;
}

.portfolio-project-content::after {
    content: "";
    display: table;
    clear: both;
}
